
body{
   margin :0;
   padding:0;
   height: 100vh;
   background-image: linear-gradient(127deg, rgba(190, 185, 242)100%,rgba(197, 180, 217) 98% ,rgba(197,180,217) 100%);
}
h1{
   text-align: center;
} 
.topnav {

   border:#f2f2f2;
   background-color:white;
   border-radius:40px;
   overflow: hidden;

 }

 .navbar{
   position:static;
   bottom:0px;
   left:0px;
   right:0px;
  
 }
  #home a{
   border:2px solid#0b303b;
   border-radius: 45px;
   padding:12px;
   font-family:'Roboto',sans-serif;
   font-weight:300;
   font-size:large;
  }

  #careers a{
   border:2px solid #0b303b;
   border-radius: 45px;
   padding:12px;
   font-family:'Roboto',sans-serif;
   font-weight:300;
   font-size:large;
  }
  #aboutus a{
   border:2px solid #0b303b;
   border-radius: 45px;
   padding:12px;
   font-family:'Roboto',sans-serif;
   font-weight:300;
   font-size:large;
  }
  

  #contact a{
   border:2px solid #0b303b;
   border-radius: 45px;
   padding:12px;
   font-family:'Roboto',sans-serif;
   font-weight:300;
   font-size:large;
  }
  #courses a{
   border:2px solid #0b303b;
   border-radius: 45px;
   padding:12px;
   font-family:'Roboto',sans-serif;
   font-weight:300;
   font-size:large;
  }
  #Blog a{
   border:2px solid#0b303b;
   border-radius: 45px;
   padding:12px;
   font-family:'Roboto',sans-serif;
   font-weight:300;
   font-size:large;
  }

  
 
 /* Style the links inside the navigation bar */
 .topnav a {
   
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 50px 12px;
   text-decoration: none;
   border-radius:20px;
   font-size: 17px;
 }

 #login{
   color:#0b303b;
   position:absolute;
   right:15px;
   top:125px;
   height:10vh;
   height:10%;
   
 }
 
 /* Change the color of links on hover */
 .topnav a:hover {
   justify-content: center;
   background-color:rgb(140, 63, 155);
   color: rgb(139, 0, 116);

 }
 

 /* Add a color to the active/current link */
 .topnav a.active {
   
   background-color: #fcfffe;
   color: white;
   border-radius:30px;
   margin:0%;
   padding:5px;
   border:#0832ee;
   text-align:left;
 }


.navbar ul{
   list-style: none;
   padding: 0;
   margin: 0;
   text-align: center;
}
.navbar li{
   display: inline-block;
}
.navbar a{
   text-decoration: none;
   color:aliceblue;
   display: block;
   padding: 25px 20px;
   font-size: 30px;
   text-transform:uppercase;
   font-weight: bold;

}
.navbar header{
    
   
   border-radius:20px;
   border-bottom-style:none;
   border-bottom-width:0px;
   padding-top:20px;
   padding-right:20px;
   padding-bottom:20px;
   padding-left:20px;

}
.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }

 #heading1{
   color:#0b303b;
   justify-content:center;
   font-family:'Roboto',sans-serif;
   font-weight:1000;
   font-size:400%;
 }

 #heading2{
   color:#0b303b;
   justify-content:center;
   font-family:'Roboto',sans-serif;
   font-weight:1000;
   font-size:400%;
 }
 #heading3{
   color:#0b303b;
   justify-content:center;
   font-family:'Roboto',sans-serif;
   font-weight:1000;
   font-size:400%
 }
 
#heading4{
   justify-content:center;
   text-shadow:2px 2px antiquewhite;
   font-family:'Roboto',sans-serif;
   font-weight:1000;
   font-size:x-large;
   color:#0b303b;
}

.Features{
  height:40vh;
  width:20%;
  justify-content:space-around;
  align-items:center;
}




#parent{
justify-content: center;
height:50vh;
width:80%;
border: 50px solid #0b303b;
margin:0px auto;
position:relative;
}

#child{
  height:80px;
  width:80px;
  border:0px solid  #0b303b;
  border-radius:50%;
  animation-name:ball;
  animation-duration:5s;
  animation-iteration-count: infinite;
  position:sticky;
}
@keyframes ball{            /*100/4=25 so we are dividing the area  */
  0%{ top:0px;  
      left:120px;
      
      background-color:#0b303b;

  }
  25%{ 
    top:10px;
    left:1180px;
    background-color:plum;

  }
  50%{
    top:490px;
    left:1180px;
    backgroud-color:violet;


  }
  75%{
    top:490px;
    left: 50px;
    background-color:blueviolet;

  }

  100%{
    top:10px;
    left:50px;
    background-color: #0b303b;

  }
}

#child1{
  height:80px;
  width:80px;
  border:0px solid  #0b303b;
  border-radius:50%;
  animation-name:ball1;
  animation-duration:5s;
  animation-iteration-count: infinite;
  position:sticky;
}
@keyframes ball1{            /*100/4=25 so we are dividing the area  */
  0%{ top:0px;  
      left:120px;
      background-color:#0b303b;
  }
  25%{ 
    top:10px;
    left:1180px;
    background-color:plum;
  }
  50%{
    top:490px;
    left:1180px;
    backgroud-color:violet;
  }
  75%{
    top:490px;
    left: 50px;
    background-color:blueviolet;

  }
  100%{
    top:10px;
    left:50px;
    background-color: #0b303b;

  }
}

.specs{
  height :100%;
  width:100%;
  
  background-color: rgba(190, 185, 242)100%,rgba(197, 180, 217) 98% ,rgba(197,180,217) 100%;
  display:flex;
  justify-content: space-evenly;
  align-items:center;
 

  
}

#Certification{
  border:2px  solid rgb(123, 180, 123);
  justify-content:center;
  height:70vh;
  width:45%;
  margin:45px;
  border-radius: 20px;
  background-color:rgb(123, 180, 123);
  text-align:center;
  

}
#Assistance{
  border:2px  solid rgb(10, 24, 59);
  justify-content:center;
  height:70vh;
  width:45%;
  margin:45px;
  border-radius: 20px;
  background-color:rgb(10, 24, 59);
  text-align:center;
 
}
#Test{
  border:2px  solid rgb(80, 31, 196);
  justify-content:center;
  height:70vh;
  width:45%;
  margin:45px;
  border-radius: 20px;
  background-color:rgb(80, 31, 196);
  text-align:center;
  
}



.Ceo{
  justify-content: center;
  border:2px solid  #0b303b;
  height:80vh;
  width:90%;
  margin:60px;
  border-radius:20px;
  background-color: #0b303b;

}
.OurTeam{
  justify-content:center;
  border:2px solid  #0b303b;
  height:90vh;
  width:90%;
  margin:60px;
  border-radius: 20px;
  background-color: #0b303b;
}
.AboutUs{
  justify-content:center;
  border:2px solid  whitesmoke;
  height:90vh;
  width:90%;
  margin:60px;
  background-color: antiquewhite;
  border-radius:30px;

}

